<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles2.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

</head>
    {{>header}}
<body>
    
    <div class="weather-content">
        <div class="weather-form">
        <h1>Type in your location for the weather!</h1>

        <form class="weather-input">
            <input placeholder="Location">
            <button>Search</button>
        </form>
        </div>

        <div class="loading-results">
        <h4 class="loading" id="loading"></h4>
        <h1 class="weather-temperature" id="weather-temperature"></h1>
        <h3 class ="weather-location" id="weather-location"></h3>
        <h4 class="weather-description" id="weather-description"></h4>
        </div>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>