/* Initializing Styling */
body {
    background-image: url(/img/cyber-bg.jpg);
}


.weather-content{
    position: fixed;
    top: 25%;
    left: 45%;
    margin-top: -50px;
    margin-left: -500px;
    background: rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    box-shadow: 0 1em 1.66em #000;
    padding: 300px 200px 300px 250px;
}

.weather-form{
    margin-top: -30%;
    color: white;
}

.weather-input{
    text-align: center;
}

.loading-results{
    color: white;
    text-align: center;
    padding-top: 10%;
}

.weather-temperature{
    padding: 10px;
}

/* Inbuilt styling */
button{
    border: 1px solid #888888;
    background: #888888;
    color: white;
    cursor: pointer;
    padding: 8px;

}

input{
    width: 25em;
    border: 1px solid #cccccc;
    padding: 8px;
}