body {
    background-image: url(/img/cyber-bg.jpg);
}
.main-content{
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

button{
    background: black;
    color: white;
    border: 2px solid;
    line-height: 1;

}